.stacks-row {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-bottom: 1rem;
}
.stacks {
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  font-size: 0.9rem;
  color: val(--text-main);
  white-space: nowrap;
  background: rgba(77, 144, 254, 0.4); /* soft blue, semi-transparent */
}

/* To make the padding line up flush with the title just like how the image does*/
h1 {
  margin-top: 0;
  line-height: 0.8;
  padding-top: 2rem;
}
img {
  align-self: left; /* puts just the image centered */
  width: 10rem;
  height: 10rem;
  border-radius: 5%;
  object-fit: cover;
  display: block;
  animation: ease-in-out 3s;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  padding-right: 2rem;
  /* control area width */
}

.media-row {
  display: flex;
  gap: 10rem;
  align-items: flex-start; /* keep top aligned */
}

@media (max-width: 600px) {
  .media-row {
    flex-direction: column;
    align-items: center;
  }
}
