.stacks-row{
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    margin-bottom: 1rem;
}
.stacks{
    padding: 0.4rem 0.8rem;
    border-radius: 20px;
    font-size: 0.9rem;
    color: val(--text-main);
    white-space: nowrap;
    background: rgba(77, 144, 254, 0.4); /* soft blue, semi-transparent */

}

/* To make the padding line up flush with the title just like how the image does*/
h1{
  margin-top: 0;
  line-height: .8;
  padding-top: 2rem;
}
img{
    align-self: center; /* puts just the image centered */
    width: 10rem;
    height: 10rem;
    border-radius: 5%;
    object-fit: cover;
    display: block;
}