<h1>Skills</h1>

<h3>Languages</h3>
<div class="skills-row">
    <span class="skills languages">C#</span>
    <span class="skills languages">Java</span>
    <span class="skills languages">Python</span>
    <span class="skills languages">Typescript</span>
</div>

<h3>Frontend</h3>
<div class="skills-row">
    <span class="skills frontend">Angular</span>
    <span class="skills frontend">HTML</span>
    <span class="skills frontend">CSS</span>
</div>

<h3>Backend & Frameworks</h3>
<div class="skills-row">
    <span class="skills backend">.NET</span>
    <span class="skills backend">Spring Boot</span>
</div>

<h3>DataBases</h3>
<div class="skills-row">
    <span class="skills databases">MySQL</span>
    <span class="skills databases">MSSQL</span>
</div>

<h3>Tools</h3>
<div class="skills-row">
    <span class="skills tools">Git</span>
    <span class="skills tools">Docker</span>
    <span class="skills tools">Unity</span>
</div>

