.portfolio-container {
  display: flex;
  width: 100%;
  max-height: 100vh;
}
app-sidebar {
  flex: 0 0 40%;
}
app-content {
  flex: 1;
}

@media (max-width: 600px), (max-height: 400px) {
  .portfolio-container,
  .sidebar,
  .content {
    flex-direction: column;
    height: auto;
    overflow-y: auto;
    height: 100dvh;
    height: 100svh;
    max-height: none;
  }
}
