.portfolio-container {
  display: flex;
  width: 100%;
  max-height: 100vh;
}
app-sidebar {
  flex: 0 0 40%;
}
app-content {
  flex: 1;
}

@media (max-width: 600px) or (max-height: 200x) {
  .portfolio-container,
  .sidebar,
  .content {
    flex-direction: column;
    height: auto;
    overflow-y: auto;
    max-height: 100dvh;
  }
}
