<div class="sidebar">
  <div>
    <img src="assets/Headshot.jpg" alt="Picture of Me, Ethan Meese." />
    <h1>Ethan Meese</h1>
    <h3>Software Developer</h3>
    <h4>📍Sturgis, Michigan</h4>
    <p>
      Adaptable developer focused on solving problems and delivering results.
    </p>
  </div>
  <div class="center nav-buttons">
    <button class="btn" (click)="select('about')">About</button>
    <button class="btn" (click)="select('skills')">Skills</button>
    <button class="btn" (click)="select('projects')">Projects</button>
    <button class="btn" (click)="select('contact')">Contact</button>
    <button class="btn">
      <a href="assets/Resume.pdf" download="Resume.pdf">Resume</a>
    </button>
  </div>
</div>
