.sidebar {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 2rem;
  gap: 2rem;
  color: var(--text-main);
}
.sidebar img {
  align-self: center; /* puts just the image centered */
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
