:root {
  --bg-primary: #0b1d16;
  --bg-secondary: #121212;
  --bg-card: #1e1e1e;

  --text-main: #f5f5f5;
  --text-secondary: #aaaaaa;

  --accent-orange: #ff7a45;
  --accent-red: #ff4d4d;
  --accent-yellow: #ffd85c;
  --border-light: #1f1f1f;
}

html,
body {
  overflow: hidden;
  height: 100%;
  background: #0f0f0f;
}
a,
u {
  text-decoration: none;
}

.btn {
  background: transparent;
  color: var(--text-main);
  border: none;
  padding: 10px 14px;
  font-size: 1rem;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
}

.btn:hover {
  background: var(--accent-orange);
  color: #000;
  transform: translateX(3px);
  box-shadow: 0 0 6px var(--accent-orange);
}

.btn.active {
  background: var(--bg-card);
  color: var(--accent-orange);
  border-left: 3px solid var(--accent-orange);
  padding-left: 11px;
  font-weight: 600;
  box-shadow: inset 0 0 8px rgba(255, 122, 69, 0.4);
}



.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1s ease-in-out forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}