:root{
    --bg-primary: #0b1d16;
    --bg-secondary: #121212;
    --bg-card: #1e1e1e;

    --text-main: #f5f5f5;
    --text-secondary: #aaaaaa;

    --accent-orange: #ff7a45;
    --accent-red: #ff4d4d;
    --accent-yellow: #ffd85c;
    --border-light: #1f1f1f;


}

html, body {
    overflow: hidden;
    height: 100%;
    background: #0F0F0F;
}
a, u {
    text-decoration: none;
}
